<!--
file: footer.ejs
author: Hardip Patel (301230213)
date: June 3, 2022
--> 
<link rel='stylesheet' href="/Content/app.css" />
<!-- footer section -->
<footer class="footer">
    <!-- copyright section -->
    <p>&copy; 2022 Hardip Patel</p>
    <!-- social media icons -->
    <div class="social-media-icons">
        <a href="https://www.facebook.com/hrdppatel/"><img src="Assets/images/facebook.png" alt="facebook icon"></a>
        <a href="https://www.instagram.com/hardippatel7/"><img src="Assets/images/instagram.png" alt="instagram icon"></a>
        <a href="https://www.linkedin.com/in/hardip-patel-5ababa106/"><img src="Assets/images/linkedin.png"
                alt="linkedin icon"></a>
        <a href="https://github.com/hardippatel7"><img src="Assets/images/github.png" alt="Assets/github icon"></a>
    </div>
</footer>
</body>
</html>