<!--
file: aboutme.ejs
author: Hardip Patel (301230213)
date: June 3, 2022
--> 
<%- include('./Partials/header.ejs'); %>
<div class="wrapper-container">
    <%- include('./Partials/navbar.ejs'); %>
    <!-- about me section -->
    <section id="aboutme" class="aboutme-section">
        <p style="margin-top: 80px; margin-bottom: 20px;">  I am a professional web developer with more than 4 years of
            development experince. I had collaborated with multiple clients including who had worldwide presence.
            <br>
            <br>
                Having worked in couple of multinational companies, I have gained expertise in API Development, Database
            Development and client communication.
            <br>
            <br>
                In domain hands-on I have exposure of retail e-commerce, travel, transportation and
            european real estate.
            <br>    
            <br>
                To fulfil my hunger of in depth knowledge in software engineering, currently I have been
            enrolled in Centennial College as a full time student. I believe, the learning is never ending curve.
            <br>
            </p>

            <div class="intro-right">
                <!-- profile image -->
                <img src="/Assets/images/hardip_bw_photo.jpg" alt="profile image">
            </div>
            <br>
        <a href="Assets/pdf/Hardip_Patel.pdf"><button class="resume-btn" type="submit" name="button">Checkout my Resume</button></a>
    </section>
</div>
<%- include('./Partials/footer.ejs'); %>