<!--
file: home.ejs
author: Hardip Patel (301230213)
date: June 3, 2022
--> 
<%- include('Partials/header.ejs'); %>
<div class="wrapper-container">
    <%- include('Partials/navbar.ejs'); %>
    <section class="intro-section">
        <!-- flex container -->
        <div class="flex-container">
            <!-- intro left div -->
            <div class="intro-left">
                <!-- main header  -->
                <h1 class="header-part1">Hii, I am </h1>
                <h1 class="header-part2">Hardip Patel!</h1>
                <h2 class="header-part2">Welcome to my profile.</h2><br>

                <h3 class="header-part3">My mission is to provide such an effective solution to 
                    your problem that render the immense success and revenue to the business</h3>
            </div>
            <!-- intro right div -->
        </div>
        <br><br><br><br>
    </section>
</div>

<%- include('Partials/footer.ejs'); %>