<!--
file: services.ejs
author: Hardip Patel (301230213)
date: June 3, 2022
--> 
<%- include('./Partials/header.ejs'); %>
<div class="wrapper-container">
    <%- include('./Partials/navbar.ejs'); %>
    <section id="experience" class="services-section">
        <p style="margin-top: 80px; margin-bottom: 50px;">I can work on the following technologies.</p>
        <h2>Services</h2>
        <div class="flex-container">
            <!-- service left div -->
            <div class="exp-left">
                <h3>Web Design and Development</h3>
                <p>I am more of a backend developer and learning front end development. I can code in 
                    programming languages such as JAVA and C# using frameworks like Spring & SpringBoot.</p>
            </div>
            <!-- service right div -->
            <div class="exp-right">
                <h3>Database Design</h3>
                <p>I have worked more than four years developing databases in complex projects 
                    for global clients. I have professional hands on on PostegresSQL, Oracle SQL and MySQL. </p>
            </div>
        </div>
    </section>
</div>
<%- include('./Partials/footer.ejs'); %>